

body{
  color: rgba(35, 35, 38, 100);
  font-family: 'Fuzzy Bubbles', cursive;
  border: solid 10px;
  border-color: grey;
  box-sizing: content-box;
  margin: 10px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
}


header {
  border: solid;
  border-color: black;
  box-sizing: border-box;
  margin: 20px 20px 60px 20px;
  padding: 10px 10px 30px 10px;
  text-align: center;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


footer{

}

.listRule {
  padding: 10px 10px 10px 10px;
}

.character {
  float: right;
  border-radius: 50%;
  margin: 20px 100px 100px 20px;
  max-width: 200px;
  max-height: 200px;
  animation-name: rotate;
  animation-duration: 0.7s;
  animation-direction: reverse;
 }

 @keyframes rotate {
   0% {
     transform: rotate(0);
   }
   100% {
     transform: rotate(360deg);
   }
 }

footer {

}

.buttons {
  margin: 10px 10px 10px 10px;
  width: 100px;
}

.metrics {
  margin-left: 30px;
}

#popScore {
  /* float: right; */
  margin: 10px 50px 10px 10px;
  position: absolute;
  right: 10px; bottom: 0px;
  /* z-index: 4; */
  font-family:'Press Start 2P', cursive;
}



/*  */
